<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="icon" type="image/png" href="../static/emc_favicon.png"/>
		<title>EMC Prayer Request Form</title>
	</head>
	<body>
		<div class="container">
			<div class="logo_h1_container">
				<a href="https://elktonmc.com" class="logo_link">
					<img src="../static/emc_logo.png" alt="EMC logo"
					class="form_header_logo" />
				</a>
				<h1 class="form_h1">Prayer Request Form</h1>
			</div>
			{% if message %}
			<p class="message">{{ message | safe }}</p>
			{% endif %}
			<form action="/submit" method="POST">
				<div class="form-group-first-name">
					<label for="firstName">
						<h3 id="firstName">First Name*</h3>
					</label>
					<label>
						<input type="text" name="userFirstName" placeholder="i.e. Reginald" />
					</label>
				</div>
				<div class="form-group-last-name">
					<label for="lastName">
						<h3 id="lastName">Last Name*</h3>
					</label>
					<label>
						<input type="text" name="userLastName" placeholder="i.e. Courliss" />
					</label>
				</div>
				<div class="form-group">
					<label for="requestType">
						<h3 id="requestType">Prayer Request Type*</h3>
					</label>
					<select name="typeOfRequest">
						<option value="">Select Prayer Request Type</option>
						<option value="Guidance & Wisdom">Guidance & Wisdom</option>
						<option value="Love, Peace, & Joy">Love, Peace, & Joy</option>
						<option value="Finances, Jobs, & Exams"
							>Finances, Jobs, & Exams</option
						>
						<option value="Personal Health">Personal Health</option>
						<option value="Salvation of Others">Salvation of Others</option>
						<option value="Family Issues">Family Issues</option>
						<option value="Protection">Protection</option>
						<option value="Widows, the Homeless, & the Hungry"
							>Widows, the Homeless, & the Hungry</option
						>
						<option value="Grieving">Grieving</option>
						<option value="Grocery Pick-up">Grocery Pick-Up</option>
					</select>
					<div class="form-group">
						<label for="howCanWePray">
							<h3 id="howCanWePray">Prayer Request Details*</h3>
						</label>
						<label for="prayerRequestTextArea">
							<textarea
								name="prayerRequest"
								id="prayerRequestTextArea"
								cols="30"
								rows="5"
							placeholder="Tell us about your request"
							></textarea>
						</label>
						<p class="required-form-footnote">* = required form field</p>
					</div>
					<label for="requestSubmit-btn">
						<input type="submit" value="Submit" class="btn" id="requestSubmit-btn"/>
					</label>
				</div>
			</form>
		</div>
	</body>
</html>
