<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="icon" type="image/png" href="../static/emc_favicon.png"/>
		<title>Thank you for your request!</title>
	</head>
	<body>
		<div class="success_container">
			<a href="https://elktonmc.com"><img src="../static/emc_logo.png" alt="EMC logo" class="logo" /></a>
			<h2>Thank you for trusting EMC to pray over your needs!</h2>
			<div class="success_div">
				<h2>
					We look forward to seeing how God blesses you through the power of prayer!
				</h2>
				<h2 class="power_of_prayer_h2">
					Please click the EMC logo above to return to our home page.
				</h2>
			</div>
		</div>
	</body>
</html>
