<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/style.css" />
		<title>Thank you for your request!</title>
	</head>
	<body>
		<div class="success_container">
			<img src="../static/emc_logo.png" alt="EMC logo" class="logo" />
			<h1>Thank you for trusting EMC to pray over your needs!</h1>
			<div class="success_div">
				<h2>
					We look forward to seeing how God blesses you through the power of prayer!
				</h2>
				<h2 class="power_of_prayer_h2">
					Click <a href="https://elktonmc.com">here</a> to return to the Elkton Missionary Church Home page
				</h2>
			</div>
		</div>
	</body>
</html>
