<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/style.css" />
		<title>Thank you for your request!</title>
	</head>
	<body>
		<div class="container">
			<img src="../static/emc_logo.png" alt="EMC logo" class="logo" />
			<h1>Thank you for your prayer request!</h1>
			<h2>
				We look forward to seeing how God works through you and through the
				power of prayer!
			</h2>
		</div>
	</body>
</html>
